html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgba(47, 47, 47, 1);
}

p, h1, h2, h4, label {
    color: white;
}

.form-control {
    color: white;
    background-color: rgba(47, 47, 47, 1);
    border-color: rgba(47, 47, 47, 1);
}

.form-control:focus {
    color: white;
    background-color: rgba(47, 47, 47, 1);
    border-color: rgba(47, 47, 47, 1);
    box-shadow: 0 0 0 0.1rem rgba(130, 40, 40, 0.75);
}

.card {
    background-color: rgba(76, 76, 76, 1);
}
